@model List<Contactanos>

<h1>Lista de Mensajes</h1>

<table class="table border">
    <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Numero</th>
        <th>Asunto</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.nombres</td>
            <td>@item.apellidos</td>
            <td>@item.numerocontacto</td>
            <td>@item.asunto</td>
            <td>

                <form action="/Administrador/borrarMensaje" method="post" class="d-inline-block">
                    <input type="hidden" name="ID" value="@item.ID" />
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>
        </tr>

    }
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="4" class="text-center">No se encontraron Mensajes enviados</td>
        </tr>
    }
</table>
